# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Idaho State University\11th Semester (Fall 2020)\CS 4412 (Advanced Algorithm)\Homeworks\HW2\CS4412Pj2-MoreSorting-v2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
